<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/doc'); -%>
    <link rel="stylesheet" href="/center.css" />
  </head>
  <body class="bg-dark text-light">
    <h1>Please login:</h1>
    <button class="btn btn-secondary btn-md" onclick="location.href='/login'">
      Login
    </button>
  </body>
</html>
