<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/doc'); -%>
    <link rel="stylesheet" href="/center.css" />
  </head>
  <body class="bg-dark text-light">
    <h1>You have been verified successfully!</h1>
    <h4 class="text-muted">You can now close this tab.</h4>
  </body>
</html>
